.listview {
  .row {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .searchColumn {
    display: block;
  }
  .searchBox {
    display: block;
  }
  :global .ms-SelectionZone {
    overflow-y: auto;
    @media screen and (max-width: 575px) {
      max-height: 90vh;
    }
  }
  .viewPort30 {
    :global .ms-SelectionZone {
      max-height: 30vh;
    }
  }
  .viewPort60 {
    :global .ms-SelectionZone {
      max-height: 60vh;
    }
  }
  .viewPort90 {
    :global .ms-SelectionZone {
      max-height: 90vh;
    }
  }
  :global a:visited,
  :global .ms-link:visited {
    color: #0072c6 !important;
  }
}
